//* HERO SECTION
.hero {
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img--left,
.img--right {
  max-height: 458px;
}
.logo {
  height: 300px;
}
.center {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .slogan {
    color: #333;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 20px;
  }
}

.hero-cta {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  padding: 7.5px 15px;
  font-size: 22px;
  // background-color: var(--main-color);
  background-color: #12b886;
  margin-top: 50px;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

//* HERO MOBILE VERSION

.img--center {
  height: 183px;
  margin-bottom: 30px;
  flex-basis: 1;
}

@media (max-width: 1000px) {
  .hero {
    flex-direction: column;
    justify-content: start;
    padding-top: 64px;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .logo {
    height: 220px;
  }
  .img--center {
    height: 150px;
    margin-bottom: 35px;
  }
  .center {
    width: 95%;
  }
}

@media (max-height: 750px) {
  .hero {
    height: auto;
    padding-top: 10px;
  }
}

/////////////////////////////////////////////////

// services

.services {
  padding: 100px 0;
}

.services__container {
  width: 90%;
  margin: 20px auto;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  gap: 75px;
  @media (min-width: 1000px) {
    width: 60%;
  }
}
